{% extends "base.html" %}
{% block title %}Početna stranica{% endblock %}
{% block head %}
	{{ super() }}
	<style>
	</style>
{% endblock %}

{% block body %}


<ul class="col-8 list-unstyled">
    {% if titles_with_reviews %}

    <form class="d-flex" method="GET" action="{{ url_for('index') }}">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Pretraži</button>
      </form>
      <br>
      
        {% for title_info in titles_with_reviews %}
        

            {% if title_info.reviews %}
            <div class="mb-5">
                <h2 class="text-dark">{{ title_info.title }}</h2>
                <h3 class="text-dark">{{ title_info.book_author }}</h3>
    
                <ul class="list-unstyled">
                    {% for review in title_info.reviews %}
                    <li class="mb-3 p-3 col-12 border border-dark rounded">
                        <p><strong>Autor recenzije: </strong> {{ review['author'] }} - <strong>Datum:</strong> {{ review['date'].strftime('%d.%m.%Y') }}</p>

                        {% if review['image_id'] %}
                        <img src="{{ url_for('serve_image', image_id=review['image_id']) }}" class="img-fluid" alt="Slika knjige">
                        {% endif %}

                        <p>{{ review['content'] | truncate(200) }}</p>
                        <a href="{{ url_for('review_view', review_id=review['_id']) }}">Pročitaj više</a>
                    </li>
                    <br>
                    <hr>
                    {% endfor %}
                </ul>
            
            {% endif %}
        </div>

        {% endfor %}
      
    {% else %}
        <p>Trenutno nema objavljenih recenzija.</p>
        
    {% endif %}
</ul>

{% endblock %}
