{% extends "base.html" %}
{% block title %}{{review.title}}{% endblock %}
{% block head %}
	{{ super() }}
	<style>
	</style>
{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
            
            <header class="text-center mb-5 pb-4 border-bottom border-dark-subtle">
        <h2>Naslov knjige: {{review.title}}</h2>
        <h4>Autor knjige: {{review.book_author}}</h4>
        {% if review.image_id %}
        <img src="{{ url_for('serve_image', image_id=review.image_id) }}" class="img-fluid" alt="review image">
        {% endif %}
        <h5 class="mt-5"><strong>Autor recenzije: </strong>{{review.author}} - {{review.date.strftime('%d.%m.%Y')}}</h5>
        <p class="mt-2">{% for tag in review.tags.split(',') %}
            <span class="badge bg-primary">{{ tag }}</span>
        {% endfor %}</p>
    </header>
        <p class="mt-5 text-center ">{{ review.content | markdown | safe }}</p>
        {% if can_edit_review(review['_id']) %}
        <div>
            <a href="{{ url_for('review_edit', review_id=review['_id']) }}" type="button" class="btn btn-primary btn-sm">Uredi</a>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                data-reviewid="{{ review['_id'] }}">
                Briši
            </button>
        </div>
        {% endif %}
    
</div>
</div>
</div>
{% endblock %}
